@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0f0f11;
}

body::before {
  content: "";
  display: block;
  opacity: 0.4;
  background: url(/images/bg.png) 50% / cover no-repeat;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  flex-grow: 1;
}

@layer utilities {
}
